<div class="container-fluid">
  <!-- Sidebar -->
  <app-side-bar
    (collapsed)="handleSidebarState($event)"
    *ngIf="isLoggedIn"
  ></app-side-bar>

  <!-- Main Content -->
  <div
    class="content"
    [class.expanded]="isCollapsed && isLoggedIn"
    [ngClass]="{ 'no-margin': !isLoggedIn }"
  >
    <app-navbar></app-navbar>
    <div class="container mt-4">
      <h1>Welcome to the {{ title }}</h1>
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </div>
</div>
