.main-about-page-wrapper .first-container-wrapper {
  padding-top: 50px;
}
.main-about-page-wrapper .first-container-wrapper h1 {
  font-weight: bold;
}
.main-about-page-wrapper .first-container-wrapper h1 span {
  color: #007bff;
}
.main-about-page-wrapper .first-container-wrapper p {
  font-size: 1rem;
  color: #333;
}
.main-about-page-wrapper .second-container-wrapper {
  padding: 40px 0;
  background-color: #f8f9fa;
  text-align: start;
}
.main-about-page-wrapper .second-container-wrapper h1 {
  font-weight: bold;
  font-size: 2rem;
}
.main-about-page-wrapper .third-container-wrapper .image-wrapper img {
  max-width: 100%;
  border-radius: 10px;
}
.main-about-page-wrapper .fourth-container-wrapper h1 {
  font-weight: bold;
}
.main-about-page-wrapper .fourth-container-wrapper p {
  font-size: 1rem;
}
.main-about-page-wrapper .fourth-container-wrapper img {
  max-width: 100%;
  border-radius: 10px;
}
.main-about-page-wrapper .fifth-container-wrapper .card {
  border: none;
  background-color: #f8f9fa;
}
.main-about-page-wrapper .fifth-container-wrapper .card h5 {
  font-weight: bold;
}
.main-about-page-wrapper .fifth-container-wrapper .card-body p {
  font-size: 1rem;
  color: #555;
}
